.footer
  &copy; 2020 Revorite
  = link_to 'https://twitter.com/share?url=https://www.revorite.net/&text=Revorite&via=345dvl', target: "_blank", title: "Twitterで共有する" do
    %i.fab.fa-twitter
  = link_to 'https://social-plugins.line.me/lineit/share?url={encodeURIComponent(https://www.revorite.net/)}', target: "_blank", title: "LINEで共有する" do
    %i.fab.fa-line