.footer
  &copy; 2021 Revorite 
  = link_to 'https://twitter.com/345dvl', target: "_blank", title: "Twitter" do
    %i.fab.fa-twitter
  = link_to 'https://github.com/345dvl/revorite', target: "_blank", title: "Githubリポジトリ" do
    %i.fab.fa-github
