.site-description__header
  %span Revorite =
  %span.brawn &nbsp;R
  %span eview + Fa
  %span.orange v
  %span orite.
%ul.site-description__list
  %li あなたの"スキ"をレビューしよう
  %li e.g. 日用品・美容品・家電・オーディオ・音楽・映画・ドラマ・アニメ・本・漫画・行き付けのお店・あなたの「推し」・コンビニの季節限定スイーツ
  %li 
    まずは
    = link_to("アカウント登録", new_user_registration_path, "data-turbolinks": false)
    から、30秒で完了
= render 'posts/sns-share'