@import "const";
@import "posts";

.comment {
  &-wrapper {
    display: none;
    border-top : solid 1px $sober-gray;
  }
  &-list, &-write {
    box-sizing: border-box;
    width: calc(100% - 110px);
    display: flex;
    padding: 10px 0;
  }
  &-list {
    border-bottom : solid 1px $sober-gray;
  }
  &-left, &-write-left {
    margin-right: 10px;
    img {
      border-radius: 25%;
      width: 50px;
      height: 50px;
      border: 1px solid #ffffff;
    }
  }
  &-right, &-write-right {
    width: 100%;
    box-sizing: border-box;
    &#not-signed-in {
      background-color: #ffe0cc;
      padding: 5px;
    }
  }
  &-header {
    @extend %post-comment-header;
    &__name {
      @extend %post-comment-header__name;
    }
    &__time {
      @extend %post-comment-header__time;
    }
    &__delete {
      @extend %post-comment-header__delete;
    }
  }
  &-text {
    @extend %post-comment-text;
  }
  &-image {
    @extend %post-comment-image;
  }
  &-write {
    &__textarea {
      box-sizing: border-box;
      width: 100%;
      textarea {
        box-sizing: border-box;
        width: 100%;
        height: 80px;
        padding: 5px;
        border : solid 1px $sober-gray;
        resize: none;
        &:focus {
          outline: none;
          background-color: #ffe0cc;
        }
      }
    }
    &__submit {
      &-upper {
        display: flex;
        justify-content: space-between;
        &-left { padding-top: 2px; }
        &-right {
          display: flex;
          justify-content: flex-end;
        }
      }
      &--count {
        padding-top: 4px;
        margin-right: 7px;
        color: $sober-gray;
      }
      &--img {
        color: $dark-orange;
        label:hover {
          color: $dark-orange;
          border-bottom: 1px solid $dark-orange;
          cursor: pointer;
        }
        input {display: none;}
      }
      &-downer {
        @extend %post-comment-image;
        margin-top: 8px;
        img { margin-right: 3px; }
      }
    }
  }
}