$header-h: 50px;
$main-menu-w: 400px;
$main-posts-w: 100%;
$footer-h: 40px;

html {
  font-size: 14px;
}

body {
  font-family: "游ゴシック体",
    "Yu Gothic",
    YuGothic,
    "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  // font-family: "游ゴシック体", "Yu Gothic", YuGothic;
  font-weight: 500;
}

a {
  text-decoration: none;
}

.header {
  a {
    text-decoration: none;
    color: white;
  }
  position: fixed;
  height: $header-h;
  color: white;
  background-color: #582300;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 66%;
  padding: 0 17%;
  
  &-left {
    font-size: 1.9rem;
    font-family: 'Aclonica-Regular';
  }
  
  &-right {
    li {
      display: inline;
      margin-left: 20px;
    }
    a {
      position: relative;
      display: inline-block;
      text-decoration: none;
    }
    a::after {
      position: absolute;
      bottom: -6px;
      left: 0;
      content: '';
      width: 100%;
      height: 1px;
      background: #fef6e4;
      opacity: 0;
      visibility: hidden;
      transition: .3s;
    }
    a:hover::after {
      bottom: -2px;
      opacity: 1;
      visibility: visible;
    }
  }
}

.main {
  display: flex;
  justify-content: center;
  // height: 1500px;
  padding: 0 17%;
  padding-top: $header-h;
  background-color: #fef6e4;
  a {
    color: black;
  }
  &-menu-outer {
    background-color: white;
    width: $main-menu-w;
    box-sizing: border-box;
    padding: 10px 0;
  }
  &-menu-inner {
    height: 100%;
    border-right: solid 1px #a1a1a1;
    margin: 0 auto;
  }
  &-posts {
    background-color: white;
    width: $main-posts-w;
  }
}

.profile {
  text-align: center;
  line-height: 1.5rem;
  &-image {
    justify-content: center;
    img {
      border-radius: 25%;
      width: 100px;
      height: 100px;
      border: 1px solid #ffffff;
    }
  }
  &-name {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 8px 10px;
  }
  &-description {
    margin: 10px;
    text-align: left;
  }
  &-config {
    margin: 10px 0;
    &:hover {
      text-decoration: underline;
    }
  }
}

button, input, select, textarea {
  font-family : inherit;
  font-size   : 100%;
}

.button {
  &-post {
    text-align: left;
    background-color: white;
    color: #b3642f;
    font-size: 1.1rem;
    font-weight: bold;
    border: solid 1px #b3642f;
    border-radius: 5px;
    // box-shadow:2px 2px #555;
    padding: 13px 7px;
    margin: 30px 30px 0 30px;
    transition: .2s;
    a {
      color: #b3642f;
    }
    &:hover {
      background-color: #b3642f;
      color: white;
    }
  }
  &-comment {
    color: white;
    border: none;
    outline: none;
    background-color: #b3642f;;
    border-radius: 30px;
    padding: 3px 8px;
    transition: .1s;
    &:hover {
      background-color: #dfa57e;
      cursor: pointer;
    }
  }
}


%post-comment-header {
  display: flex;
  margin-bottom: 5px;
}
%post-comment-header__name {
  font-size: 1.1rem;
  font-weight: bold;
  margin-right: 20px;
}
%post-comment-header__time {
  font-size: 0.9rem;
  color: #6d6d6d;
  margin-right: 10px;
}
%post-comment-header__delete {
  color: #6d6d6d;
}
%post-comment-text {
  margin-bottom: 10px;
}
%post-comment-image {
  border-radius: 5%;
  height: 100px;
  width: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

.post {
  display: flex;
  line-height: 1.5rem;
  padding: 10px;
  &-left {
    margin-right: 10px;
    img {
      border-radius: 25%;
      width: 50px;
      height: 50px;
      border: 1px solid #ffffff;
    }
  }
  &-right {
    width: 100%;
  }
  &-header {
    @extend %post-comment-header;
    &__name {
      @extend %post-comment-header__name;
    }
    &__time {
      @extend %post-comment-header__time;
    }
    &__delete {
      @extend %post-comment-header__delete;
    }
  }
  &-review {
    display: flex;
    margin-bottom: 5px;
    &-star {
      margin-right: 10px;
      min-width: 96px;
    }
    &-title {
      font-size: 1.1rem;
      font-weight: bold;
      margin-right: 10px;
    }
    &-price {
      min-width: 85px;
    }
  }
  &-text {
    @extend %post-comment-text;
  }
  &-image img {
    @extend %post-comment-image;
  }
  &-action {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
    i {
      font-size: 1.1rem;
    }
    &__comment {
      :hover {
        color: #b3642f;
        cursor: pointer;
      }
    }
    &__repost {
      margin-left: 8px;
      :hover {
        color: green;
      }
    }
    &__fav {
      margin-left: 8px;
      a:hover {
        color: orange;
      }
      &--liked {
        color: orange;
      }
    }
  }
}

.comment {
  &-wrapper {
    display: none;
    border-top : solid 1px #a1a1a1;
  }
  &-list, &-write {
    box-sizing: border-box;
    width: calc(100% - 110px);
    display: flex;
    padding: 10px 0;
  }
  &-list {
    border-bottom : solid 1px #a1a1a1;
  }
  &-left, &-write-left {
    margin-right: 10px;
    img {
      border-radius: 25%;
      width: 50px;
      height: 50px;
      border: 1px solid #ffffff;
    }
  }
  &-right, &-write-right {
    width: 100%;
    box-sizing: border-box;
    &#not-signed-in {
      background-color: #ffe0cc;
      padding: 5px;
      a {
        text-decoration: underline;
        &:hover {
          color: #b3642f;
        }
      }
    }
  }
  &-header {
    @extend %post-comment-header;
    &__name {
      @extend %post-comment-header__name;
    }
    &__time {
      @extend %post-comment-header__time;
    }
    &__delete {
      @extend %post-comment-header__delete;
    }
  }
  &-text {
    @extend %post-comment-text;
  }
  &-image img {
    @extend %post-comment-image;
  }
  &-write {
    &__textarea {
      box-sizing: border-box;
      width: 100%;
      textarea {
        box-sizing: border-box;
        width: 100%;
        height: 80px;
        padding: 5px;
        border : solid 1px #a1a1a1;
        resize: none;
        &:focus {
          outline: none;
          background-color: #ffe0cc;
        }
      }
    }
    &__submit {
      display: flex;
      justify-content: flex-end;
      &--img {
        padding-top: 5px;
        i {
          font-size: 1.4rem;
          color: #b3642f;
          &:hover {
            color: #dfa57e;
            cursor: pointer;
          }
        }
        margin-right:10px;
      }
    }
  }
  
}

.form-image {
  input {display: none;}
}

hr {
  height: 1px;
  margin: 0 10px;
  background-color: #a1a1a1;
  border: none;
}

.footer {
  background-color: #f3d2c1;
  height: $footer-h;
  text-align: center;
  font-size: 0.8rem;
  color: #582300;
  line-height: $footer-h;
}