$header-h: 50px;
$main-menu-w: 300px;
$main-posts-w: 47vw;
$footer-h: 40px;

html {
  font-size: 14px;
}

body {
  font-family: "游ゴシック体",
    "Yu Gothic",
    YuGothic,
    "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  font-weight: 500;
}

a {
  text-decoration: none;
}

.header {
  a {
    text-decoration: none;
    color: white;
  }
  position: fixed;
  z-index: 30;
  height: $header-h;
  color: white;
  background-color: #582300;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  
  &-left {
    width: $main-menu-w;
    display: flex;
    &-title {
      font-size: 1.9rem;
      font-family: 'Aclonica-Regular';
      a:hover {
        opacity: 0.8;
        transition: .2s;
      }
    }
    &-pagename {
      margin-left: 15px;
      padding-top: 5px;
      font-size: 1rem;
    }
    
  }
  
  &-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: $main-posts-w;
    min-width: 500px;
    &-menu {
      
      img {
        border-radius: 25%;
        height: 100%;
        max-height: 18px;
        max-width: 18px;
        object-fit: cover;
      }
      li {
        vertical-align: middle;
        display: inline;
        margin-left: 20px;
        &:first-child {
          margin-left: 0px;
        }
      }
      a {
        position: relative;
        display: inline-block;
        text-decoration: none;
      }
      a::after {
        position: absolute;
        bottom: -6px;
        left: 0;
        content: '';
        width: 100%;
        height: 1px;
        background: #fef6e4;
        opacity: 0;
        visibility: hidden;
        transition: .3s;
      }
      a:hover::after {
        bottom: -2px;
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
#username {
  margin-left: 2px;
}

.main {
  display: flex;
  justify-content: center;
  padding-top: $header-h;
  background-color: #fef6e4;
  min-height: calc(100vh - #{$header-h} - #{$footer-h});
  a {
    color: black;
  }
  &-menu-outer {
    background-color: white;
    width: $main-menu-w;
    padding: 10px 0;
  }
  &-menu-inner {
    position: fixed;
    height: calc(100% - 110px);
    width: $main-menu-w;;
    margin: 0 auto;
  }
  &-posts {
    position: relative;
    background-color: white;
    width: $main-posts-w;
    min-width: 500px;
    &:before {
      position: absolute;
      top: 5px;
      content: '';
      background-color: #a1a1a1;
      width: 1px;
      height: calc(100% - 10px);
    }
    &-header {
      position: fixed;
      width: calc(#{$main-posts-w} - 20px);
      min-width: 480px;
      margin: 0 10px;
      border-bottom: solid 1px #a1a1a1;
      background-color: white;
      font-weight: bold;
      font-size: 1.1rem;
      &-list {
        &-box {
          display: flex;
          justify-content: center;
          i {
            position: relative;
            font-size: 0.85em;
            margin-left: 5px;
            padding-top: 2px;
            color: cornflowerblue;
            & .fukidashi {
              visibility: hidden;
              opacity: 0;
              background: cornflowerblue;
              position: absolute;
              top: 30px;
              left: -10px;
              font-size: 0.9rem;
              font-family: "游ゴシック体";
              color: white;
              font-weight: normal;
              padding: 10px;
              z-index: 1;
              border-radius: 5px;
              width: 200px;
              text-align: left;
              line-height: 15px;
              &:before {
                content: "";
                position: absolute;
                top: -10px;
                left: 12%;
                margin-left: -20px;
                border: 10px solid transparent;
                border-bottom: 15px solid cornflowerblue;
                border-top: 0px;
              }
            }
            &:hover .fukidashi {
              visibility: visible;
              opacity: 1;
              transition: .2s;
            }
          }
        }
      }
      ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        a {
          width: 50%;
          text-align: center;
          padding: 10px 0px;
          position: relative;
          display: inline-block;
          text-decoration: none;
          color: #333881;
          &::after {
            position: absolute;
            bottom: -1px;
            left: 0;
            content: '';
            width: 100%;
            height: 2px;
            background-color: #333881;
          }
          &.active {
            background-color: #d6e0ff;
          }
          &.non-active {
            &::after {
              transform: scale(0, 1);
              transform-origin: center top;
              transition: transform .3s;
              
            }
            &:hover {
              background-color: #ebf0ff;
              transition: .4s;
              &::after {
                background-color: #9498cc;
                transform: scale(1, 1);
              }
            }
          }
        }
      }
    }
    &-contents .jscroll-inner{
      padding-top: 36px;
      hr {
        height: 1px;
        margin: 0 10px;
        background-color: #a1a1a1;
        border: none;
      }
    }
    &-contents .jscroll-inner>hr:first-of-type {
      display: none;
    }
    &-pagenation {
      display: none;
    }
    .jscroll-loading {
      margin: 10px;
      font-size: 0.8em;
      color: gray;
    }
  }
}

.profile {
  text-align: center;
  line-height: 1.5rem;
  &-image {
    justify-content: center;
    img {
      border-radius: 25%;
      width: 100px;
      height: 100px;
      border: 1px solid #ffffff;
    }
  }
  &-name {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 8px 10px;
    a:hover {
      text-decoration: underline;
    }
  }
  &-description {
    margin: 10px;
    text-align: left;
  }
  &-config {
    margin: 20px 0;
    text-align: center;
    color: #b3642f;
    &:hover {
      text-decoration: underline;
    }
  }
}

button, input, select, textarea {
  font-family : inherit;
  font-size   : 100%;
}

.button {
  &-newpost {
    text-align: left;
    background-color: #b3642f;
    color: white;
    border-radius: 30px;
    padding: 10px 40px;
    transition: .1s;
    &:hover {
      background-color: #bd794c;
    }
  }
  &-submit {
    color: white;
    border: none;
    outline: none;
    background-color: #b3642f;;
    border-radius: 30px;
    padding: 5px 10px;
    transition: .1s;
    &.user-registration, &.user-login, &.user-edit, &.user-newpassword, &.user-editpassword, &.post-newpost {
      padding: 10px 80px;
    }
    &:hover {
      background-color: #dfa57e;
      cursor: pointer;
    }
    &:disabled {
      background-color: #a1a1a1;
      cursor: default;
    }
  }
  &-follow {
    text-align: center;
    margin: 0 auto;
    width: 160px;
    font-size: 1.1rem;
    font-weight: bold;
    border: solid 1px #333881;
    border-radius: 5px;
    padding: 5px 0px;
    margin-top: 30px;
    transition: .2s;
    &.follow {
      background-color: white;
      color: #333881;
      &:hover {
        background-color: #333881;
        color: white;
      }
    }
    &.unfollow {
      background-color: #333881;
      color: white;
      & .switch-hover {
        display: none;
      }
      &:hover {
        background-color: #f079ba;
        color: white;
        border: solid 1px #f079ba;
        & .switch-normal {
          display: none;
        }
        & .switch-hover {
          display: inline;
        }
      }
    }
  }
}


%post-comment-header {
  display: flex;
  margin-bottom: 5px;
}
%post-comment-header__name {
  font-size: 1.1rem;
  font-weight: bold;
  margin-right: 20px;
  a:hover {
    text-decoration: underline;
  }
}
%post-comment-header__time {
  font-size: 0.9rem;
  color: #6d6d6d;
  margin-right: 10px;
}
%post-comment-header__delete {
  color: #6d6d6d;
  & a:hover {
    opacity: 0.7;
  }
}
%post-comment-text {
  margin-bottom: 10px;
}
%post-comment-image {
  margin-bottom: 10px;
  img {
    border-radius: 5%;
    height: 100%;
    max-height: 100px;
    max-width: 100px;
    object-fit: cover;
  }
}

.post, .user {
  list-style: none;
  &-container {
    display: flex;
    line-height: 1.5rem;
    margin: 10px;
    // border-bottom: 1px solid #a1a1a1;
  }
  &-left {
    margin-right: 10px;
    img {
      border-radius: 25%;
      width: 50px;
      height: 50px;
      border: 1px solid #ffffff;
    }
  }
  &-right {
    width: 100%;
  }
  &-header {
    @extend %post-comment-header;
    &__name {
      @extend %post-comment-header__name;
    }
    &__time {
      @extend %post-comment-header__time;
    }
    &__delete {
      @extend %post-comment-header__delete;
    }
  }
  &-review {
    display: flex;
    margin-bottom: 5px;
    & div {
      margin-right: 10px;
    }
    & .review-img {
      margin-right: 4px;
      &:hover {
        opacity: 0.7;
      }
    }
    &-star {
      padding-top: 2px;
      min-width: 96px;
    }
    &-title {
      font-size: 1.1rem;
      font-weight: bold;
    }
    
  }
  &-text {
    @extend %post-comment-text;
  }
  &-image {
    @extend %post-comment-image;
  }
  &-action {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
    i {
      font-size: 1.1rem;
      &.nonactive { color: #a1a1a1 }
    }
    &__comment {
      :hover {
        color: #b3642f;
        cursor: pointer;
      }
    }
    &__repost {
      margin-left: 8px;
      a:hover { color: green; }
      &--reposted { color: green; }
    }
    &__fav {
      margin-left: 8px;
      a:hover { color: orange; }
      &--liked { color: orange; }
    }
  }
}

.post {
  &-repost {
    color: gray;
    padding: 10px 10px 0px 45px;
    i { 
      color: green;
      padding-right: 5px;
    }
    a {
      margin-right: -3px;
      color: gray;
      &:hover { text-decoration: underline; }
    }
  }
}

.user {
  &-header {
    margin-bottom: 2px;
    &__name {
      padding-top: 2px;
    }
    &__button {
      padding: 1px 0px;
      width: 120px;
      font-size: 0.9rem;
      margin-top: 0px;
    }
  }
  &-data {
    display: flex;
    margin-bottom: 5px;
    &__postscount, &__followingscount, &__followerscount {
      margin-right: 8px;
      font-size: 0.9rem;
      color: #a1a1a1;
    }
  }
}

.comment {
  &-wrapper {
    display: none;
    border-top : solid 1px #a1a1a1;
  }
  &-list, &-write {
    box-sizing: border-box;
    width: calc(100% - 110px);
    display: flex;
    padding: 10px 0;
  }
  &-list {
    border-bottom : solid 1px #a1a1a1;
  }
  &-left, &-write-left {
    margin-right: 10px;
    img {
      border-radius: 25%;
      width: 50px;
      height: 50px;
      border: 1px solid #ffffff;
    }
  }
  &-right, &-write-right {
    width: 100%;
    box-sizing: border-box;
    &#not-signed-in {
      background-color: #ffe0cc;
      padding: 5px;
      a {
        text-decoration: underline;
        &:hover {
          color: #b3642f;
        }
      }
    }
  }
  &-header {
    @extend %post-comment-header;
    &__name {
      @extend %post-comment-header__name;
    }
    &__time {
      @extend %post-comment-header__time;
    }
    &__delete {
      @extend %post-comment-header__delete;
    }
  }
  &-text {
    @extend %post-comment-text;
  }
  &-image {
    @extend %post-comment-image;
  }
  &-write {
    &__textarea {
      box-sizing: border-box;
      width: 100%;
      textarea {
        box-sizing: border-box;
        width: 100%;
        height: 80px;
        padding: 5px;
        border : solid 1px #a1a1a1;
        resize: none;
        &:focus {
          outline: none;
          background-color: #ffe0cc;
        }
      }
    }
    &__submit {
      &-upper {
        display: flex;
        justify-content: space-between;
        &-left { padding-top: 2px; }
        &-right {
          display: flex;
          justify-content: flex-end;
        }
      }
      &--count {
        padding-top: 4px;
        margin-right: 7px;
        color: #a1a1a1;
      }
      &--img {
        color: #b3642f;
        label:hover {
          color: #b3642f;
          border-bottom: 1px solid #b3642f;
          cursor: pointer;
        }
        input {display: none;}
      }
      &-downer {
        @extend %post-comment-image;
        margin-top: 8px;
        img { margin-right: 3px; }
      }
    }
  }
  
}

.signup, .login, .edituser, .newpassword, .editpassword, .newpost {
  a {
    text-decoration: underline;
    &:hover {
      color: #b3642f;
    }
  }
  &-header {
    font-size: 1.5rem;
    text-align: center;
    margin: 30px 0;
    font-weight: bold;
  }
  &-items {
    padding: 20px 30px;
    background-color: #f3ede1;
    border: 2px solid #d2c9b7;
    width: 400px;
    #error_explanation {
      margin: 0 0 20px 0;
      color: red;
    }
    span.note {
      font-size: 0.8em;
      color: gray;
      padding-top: 1px;
    }
    &__image {
      text-align: center;
      margin-bottom: 30px;
      img {
        border-radius: 25%;
        width: 100px;
        height: 100px;
        border: 1px solid #ffffff;
        margin-bottom: 5px;
      }
      .file_field { display: none; }
      label:hover {
        color: #b3642f;
        border-bottom: 1px solid #b3642f;
        cursor: pointer;
      }
    }
    &__label {
      margin-bottom: 5px;
      display: flex;
      span.textcount {
        margin-left: auto;
        color: #a1a1a1;
      }
    }
    &__field {
      margin-bottom: 20px;
      input {
        box-sizing: border-box;
        width: 100%;
        padding: 8px;
        border : solid 1px #a1a1a1;
        resize: none;
        &:focus {
          outline: none;
          background-color: #ffe0cc;
        }
        &#newpost-input-price {
          width: 100px;
        }
      }
      textarea {
        box-sizing: border-box;
        width: 100%;
        height: 200px;
        padding: 8px;
        border : solid 1px #a1a1a1;
        resize: none;
        &:focus {
          outline: none;
          background-color: #ffe0cc;
        }
      }
      &--caution {
        margin-top: 5px;
        font-size: 0.9em;
        color: red;
      }
      & .input-caution {
        border: solid 1px red;
      }
    }
    &__checkbox {
      margin-top: 30px;
      margin-bottom: 20px;
      .checkbox {
        display: none;
      }
      .checkbox-parts{
        padding-left: 22px;
        position:relative;
        padding-top: 1px;
        z-index: 10;
        &:hover { cursor: pointer; }
      }
      .checkbox-parts::before{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 15px;
        height: 15px;
        border: 1px solid #999;
        background-color: #fff;
      }
      .checkbox:checked + .checkbox-parts::after{
        content: "";
        display: block;
        position: absolute;
        top: -5px;
        left: 5px;
        width: 6px;
        height: 15px;
        transform: rotate(40deg);
        border-bottom: 2px solid #b36430;
        border-right: 2px solid #b36430;
      }
    }
    &__submit {
      text-align: center;
      margin: 40px 0 20px 0;
      input {
        display: inline-block;
      }
    }
  }
  &-links {
    line-height: 25px;
    margin: 50px 0 20px 0;
    .warning {
      color: red;
      &:hover {
        color: palevioletred;
      }
    }
  }
  &-footer {
    line-height: 25px;
    margin: 30px 0;
    text-align: center;
  }
}

.newpost {
  &-items {
    width: 600px;
    &__field {
      #star {
        background-color: #fff;
      }
      
    }
    &__checkbox { margin-top: 0px; }
    &__image { 
      text-align: left;
      label { color: #b36430; }
    }
    &__review { display: none; }
    &__previewimages {
      img {
        width: 145px;
        border-radius: 3%;
        vertical-align: top;
        margin-right: 5px;
      }
    }
  }
}

.footer {
  background-color: #f3d2c1;
  height: $footer-h;
  text-align: center;
  font-size: 0.9rem;
  color: #582300;
  line-height: $footer-h;
  a {
    color: #582300;
    font-size: 1.2rem;
    margin-left: 5px;
    &:hover {
      opacity: 0.7;
    }
  }
}