%p Revoriteをご利用いただきありがとうございます。
%p パスワードの再発行は以下リンクからご利用いただけます。
%p
%p= link_to 'パスワードの再発行', edit_password_url(@resource, reset_password_token: @token)
%p
%p ※当メールに身に覚えが無い場合は無視してください。
%p 　上記リンクよりパスワードを再発行するまでは既存のパスワードは変更されません。
