javascript:
  $('#star').raty({
    size: 36,
    starOff: '/assets/star/none.png',
    starOn: "/assets/star/full.png",
    starHalf: "/assets/star/half.png",
    scoreName: "post[review_attributes][rate]",
    half: true
  });

$( function  () {
  $('#star-').raty({
    size: 36,
    starOff: '/assets/star/none.png',
    starOn: "/assets/star/full.png",
    starHalf: "/assets/star/half.png",
    scoreName: "post[review_attributes][rate]",
    half: true
  });
});